[Unit]
Description=Speech to Text Daemon
After=default.target

[Service]
Type=simple
WorkingDirectory=__WORKING_DIRECTORY__
EnvironmentFile=__ENV_FILE__
ExecStart=__EXEC_START__
UMask=0077
PassEnvironment=DISPLAY WAYLAND_DISPLAY XDG_RUNTIME_DIR XAUTHORITY DBUS_SESSION_BUS_ADDRESS
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
